.audiowrapper{
    .audioduration{
    display: flex;
    position: relative;
    background-color: aliceblue;
    width: fit-content;

    button{
        all: unset;
        cursor: pointer;
        // padding: 2rem;
        position: absolute;
        margin-left: 45%;       
        bottom: 20%;
        font-size: 1.5rem;
    }
}
}
