.categorieswrap{
    width: 100%;
    .listitems{
        display: flex;
        width: 50%;
        margin: auto;
        list-style: none;
        justify-content: space-between;
        padding: 2rem 0rem;
        font-weight: bolder;
        flex-direction: column;
        align-items: center;
        // flex-wrap: wrap;
        li{
            cursor: pointer;
            a.active{
                color: aliceblue;
           all: unset;               
            }
        }
    }
}

@media screen and (min-width: 800px){
    .categorieswrap{
        .listitems{
            flex-direction: row;
        }
    }
}