.filterparent {
    display: flex;
    gap: 1rem;
    font-family: 'Poppins';
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }

    .buttonparent {
        position: relative;
        box-sizing: border-box;
        width: min-content;
        display: flex;
        align-items: center;


        .filterbutton,
        .activebutton {
            all: unset;
            font-family: inherit;
            cursor: pointer;
            // padding: 0.5rem 1rem;
            justify-self: flex-end;
            align-self: flex-end;
            margin-right: 35px;
            margin-top: auto;
            background-color: rgb(250, 243, 235);
            font-size: 12px;
            border: 0.3em solid orange;
            color: orange;
            border-radius: 0.5em;
            padding: 0.5rem 1rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;

            span {
                position: absolute;
                width: 25%;
                height: 100%;
                background-color: orange;
                transform: translateY(150%);
                border-radius: 50%;
                left: calc((var(--n) - 1) * 25%);
                transition: 0.5s;
                transition-delay: calc((var(--n) - 1) * 0.1s);
                z-index: -1;
            }

            &:hover {
                color: black;

                & span {
                    transform: translateY(0) scale(2);

                }
            }

            &:active {
                color: white;

            }

            & span:nth-child(1) {
                --n: 1;
            }

            & span:nth-child(2) {
                --n: 2;
            }

            & span:nth-child(3) {
                --n: 3;
            }

            & span:nth-child(4) {
                --n: 4;
            }

        }

        .activebutton {
            background-color: orange;
            color: black;
            padding-right: 2rem;

            span {
                background-color: rgb(250, 243, 235);
            }

        }

        .resetbutton {
            position: absolute;
            right: 40px;
            // top: 16%;
            z-index: 2;
            cursor: pointer;
            transition: 200ms;

            &:hover {
                font-weight: 800;
            }

        }
    }
}