.homewrapper{
 //background-color: #FFF3E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0rem;
    position: relative;
}

@media screen and (min-width: 800px) {
   .homewrapper{
    width: 80%;
    margin: auto;
    display: grid;
    row-gap: 2rem;
    // grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    place-items: center;
    align-items: flex-start;
   }
  }