.homewrapper{
 //background-color: #FFF3E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    position: relative;


}    .sortingholder{
      display:flex;
      width:95%;
      justify-content:flex-end;
      align-items: flex-end;
    }
@media screen and (min-width: 500px) {
  .homewrapper{
    width: 95%;
    margin: auto;
    display: grid;
    row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    align-items: flex-start;    
  }
  .sortingholder{
    width: 95%;
  }
}
@media screen and (min-width: 840px){
  .homewrapper{

    grid-template-columns: repeat(3, 1fr);

   }
}
@media screen and (min-width: 1025px) {
   .homewrapper{
    width: 80%;
    grid-template-columns: repeat(4, 1fr);

   }
   .sortingholder{
    width: 90%;
  }
  }