//Mobile first


.navwrapper{
    background-color:#0CADE0;
    color: white;
    font-weight: bolder;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    background: url('../assets/wave-haikei.svg');

    h1{
        text-align: center;
        margin: 0rem 1rem;
    }
}
