.searchholder{
display: flex;
justify-content: center;
//width: 100%;
height: min-content;
width: fit-content;
margin: auto;
// transform:translateY(-250%);
margin-bottom: 3rem;
margin-top: 3rem;
position: relative;


.input{
    border-radius: 12px;
    padding: 0.8rem 1.5rem;
    border-style: none;
   // background-color: rgb(200, 219, 219);
   background-color: rgb(255, 255, 255);
   border:1px solid #7593a5 ;


    &:focus{
        outline: 0.5px solid rgb(154, 180, 180);
        box-shadow: rgba(43, 37, 27, 0.205) 1.95px 1.95px 2.6px;

    }
}
.searchbutton{
    all: unset;
position: absolute;
right: 10px;
top: 10px;
&:focus{
    font-weight: 800;
    color: black;    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}


 
}

}