.searchholder{
display: flex;
justify-content: center;
width: 100%;
// transform:translateY(-250%);

.input{
    border-radius: 12px;
    padding: 0.8rem 1.5rem;
    border-style: none;
    background-color: rgb(200, 219, 219);
}
}