.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: initial;
  margin:7rem 0rem;
  font-size: .5rem;
  gap: 10px;
  justify-self: center;
  align-self: center;
  font-family: 'Poppins';
  width: 80%;

}
@media screen and (min-width: 800px){
  .pagination{
    font-size: 1.2rem;
    width: auto;

  }
}

.pagination>* {
  cursor: pointer;

}


.pagination .page-num {
  background-color: none;
  padding: 0rem .7rem;
  border-radius: 50%;
  margin: 0;
  border: 2px solid transparent;
 
  transition:  50ms  ;

}

.pagination .page-num:hover {
  border-radius: 23px 35px 40px 30px;
  background-image: url('./assets/pattern.svg');

}

.page-num:hover {
  background-repeat: no-repeat;
  background: center;
  background-size: 230% 290%;
  z-index: 1;
}

.pagination .page-active {
  background-repeat: no-repeat;
  background: center;
  background-size: 230% 290%;
  z-index: 1;
  border-radius: 23px 35px 40px 30px;
  background-image: url('./assets/pattern.svg');

}